<div class="social-icons">
    <a href="https://twitter.com/ren_mission">
        <i class="fab fa-twitter fa-2x"></i>
    </a>
    <a href="https://www.facebook.com/renmissionjr">
        <i class="fab fa-facebook fa-2x"></i>
    </a>
    <a href="https://www.linkedin.com/in/renmission/">
        <i class="fab fa-linkedin fa-2x"></i>
    </a>
    <a href="https://github.com/renmission">
        <i class="fab fa-github fa-2x"></i>
    </a>
</div>