<section class="about">

    <div class="about__bio-image">
        <div class="about__bio">
            <h2 class="text-secondary">Renato Mission</h2>
            <p>
                < Back-end Developer />
            </p>
        </div>
    </div>


    <div class="jobs">
        <div class="jobs__job">
            <h1>About Me</h1>
            <p>Hello! My name is Renato. I live in the Philippines. I make my living as a Back-end Developer
                with
                full-stack experienced. I am a tenacious self-taught self-learned
                Node.js
                and React.js.
                I really love doing logic stuff. </p>

            <h1>Personal things, I</h1>
            <ul>
                <li>Am a breadwinner of my family.</li>
                <li> Love reading useful materials like coding resources and docs.</li>
                <li> Am motivated to do Open-Source.
                </li>
                <li> Love to play basketball
                </li>
            </ul>

            <h1><strong>Skills and Proficiency </strong></h1>
            <br>

            <h2> General Development Skills </h2>

            <ul>
                <li>Git and Github</li>
                <li>HTML5/CSS3</li>
                <li>Responsive Web Design</li>
                <li>SASS</li>
                <li>Basic Design Skills(XD)</li>
                <li>Javascript (ES6)</li>
                <li>Basic React.js</li>
                <li>Basic JQuery</li>
                <li>Node.js</li>
            </ul>

            <h2>Node.js Related Skills and Libraries </h2>

            <ul>
                <li>NPM</li>
                <li>Express.js</li>
                <li>Passport.js</li>
                <li>Bcrypt</li>
                <li>Sequelize(ODM)</li>
                <li>Mongoose(ODM)</li>
                <li>Heroku</li>
            </ul>

            <h2>Database</h2>

            <ul>
                <li>MySQL</li>
                <li>PostgreSQL</li>
                <li>MongoDB</li>
            </ul>

            <h2>SEO Audit</h2>

            <ul>
                <li>Google Analytics</li>
                <li>Google Ads</li>
                <li>Google Keyword Planner</li>
                <li>Screaming Frog</li>
                <li>SEMrush</li>
                <li>Moz</li>
                <li>Domain Hunter plus</li>
            </ul>

            <h1>Member of</h1>
            <ul>
                <li>FreeodeCamp.Manila</li>
                <li>ReactJS Philippines</li>
                <li>Node.js Philippines</li>
            </ul>
        </div>
    </div>


    {{> home/_socials}}
    {{> home/_footer}}
</section>