<section class="contact">
    <h2>Get in touch with me through these contacts:</h2>

    <div class="contact__list">
        <div class="contact__email">
            <i class="fas fa-envelope"></i> Email
            <div class="text-secondary">missionrenjr@gmail.com</div>
        </div>
        <div class="contact__phone">
            <i class="fas fa-mobile-alt"></i> Phone
            <div class="text-secondary">+63 950 383 9899</div>
        </div>
        <div class="contact__address">
            <i class="fas fa-map-marker-alt"></i> Address
            <div class="text-secondary">Sto.tomas City, Batangas, Philippines</div>
        </div>
    </div>

    <div class="contact__letter">
        <p>Hey! I am very grateful that you came to this page for my contact information. Let me know if you’re
            interested, I will be more than happy to talk to you!</p>
    </div>






    {{> home/_socials}}
    {{> home/_footer}}
</section>