<section class="home">
    <h1 class="home__name">
        <span class="type"></span>
    </h1>
    <!-- <a href="#!" class="home__contact">Let's work together <i class="fa fa-arrow-right fa-1x"></i></a> -->

    <a class="home__effect1" href="/works">
        Let's work together!
        <span class="home__bg"></span>
    </a>




    {{> home/_socials}}
    {{> home/_footer}}
</section>